.App {
  font-family: 'Akkurat', 'Helvetica Neue', sans-serif;
  text-align: center;
}

header {
  height: 200px;
  background: #340500;
  width: 100%;
  padding-top: 30px;
  position: relative;
}

body {
  font-family: 'Akkurat', 'Helvetica Neue', sans-serif;
  text-align: center;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#pageTitle {
  margin: 5px;
  padding: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  font-family: "Righteous", cursive;
}

.wrap {
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  margin: 0 12vw;
  position: relative;
  z-index: 30;
}

.days {
  display: flex;
}

.selector {
  text-decoration: none;
  transition: color .3s;
  outline:none;
  margin: 10px 5px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 25px;
  border: none;
  color: #ffb5b3;
  background: none;
  text-transform: capitalize;
}

.selector:hover,
.submit:hover {
  color: rgb(255, 216, 213);
}

.selector.selected {
  color: white;
}